@media (max-width: 1030px) {
  .__card > .__items-row {
    flex-wrap: wrap;
  }

  .__card .__detail.__confirmados {
    width: 50%;
    max-width: 50%;
  }
  .__card .__detail.__pendentes {
    width: 50%;
    max-width: 50%;
  }
  .__card .__detail.__acoes {
    width: calc(100% - 80px);
    max-width: 100% !important;
  }
  .__card .__detail.__cog {
    width: 100% !important;
    border-left: none;
  }

  .__card.__evento .__detail.__acoes {
    text-align: left;
  }

  #row-trabalhos-avaliados .__details {
    flex-flow: column;
  }
  #row-trabalhos-avaliados .__rating {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
  }
}

@media (max-height: 610px) {
  .modal-custom {
    max-height: 100%;
    margin: 10px 0;
    top: 48%;
  }
}

@media (max-width: 960px) {
  .modal_wrapper_shadow {
    z-index: 1000000;
  }
  .modal-custom {
    z-index: 1000000;
  }
  .modal-custom {
    left: 50%;
  }
  .__painel-header .__novo_evento {
    display: none;
  }
  .__headbar .__notificacoes {
    display: none;
  }
  .__headbar .__mobile-criar_novo {
    display: flex;
  }
  .__centered .nome_evento {
    display: none;
  }
  #resp-menu {
    display: block;
    float: left;
  }

  #resp-menu img {
    height: 24px;
  }
  .__top_menu-mobile {
    display: flex;
    align-items: center;
  }
  .__headbar {
    width: 100%;
    padding: 0 20px;
    height: 92px;
    display: flex;
    align-items: center;
    left: 0;
    z-index: 1000000;
  }
  .__headbar .__centered {
    display: flex;
    justify-content: space-between;
    width: 100% !important;
    align-items: center;
    gap: 25%;
  }
}

@media (max-width: 728px) {
  #modalCredenciamento .modal-custom,
  #modalCredenciamentoMenu .modal-custom,
  #modalAutocredenciamento .modal-custom {
    margin: -250px 0 0 0 !important;
    left: 0%;
  }
}

/* --------------------------------------------------------------
        ADMIN TRABALHOS - MODELO DE SUBMISSÕES
--------------------------------------------------------------*/
@media (min-width: 1049px) {
  #tmp-informacoes .tmp-width-15-percent {
    width: 15%;
  }
  #tmp-informacoes .tmp-width-20-percent {
    width: 20%;
  }
  #tmp-informacoes .tmp-width-30-percent {
    width: 30%;
  }
  #tmp-informacoes .tmp-width-35-percent {
    width: 35%;
  }
  .tmp-no-border-desktop {
    border-left: none !important;
  }
}
@media (max-width: 1020px) {
  .__card {
    padding: 20px 43px 20px 53px;
  }
}
@media (max-width: 950px) {
  .__card .__details .__event_details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 15px;
    margin-bottom: 23px;
  }
}
@media (max-width: 1049px) {
  /* === Tipos de submissão === */
  #tmp-predefinicoes .tmp-column {
    width: 100%;
    margin-top: -1px;
  }
  .tmp-arrow-right {
    border-right: 1px solid #8f8f8e !important;
  }
  #tmp-predefinicoes .tmp-action {
    margin-top: 10px;
    margin-left: 0;
  }
  /* === Detalhes de submissão === */
  #tmp-detalhes-submissao .tmp-column {
    width: 100% !important;
  }
  #tmp-detalhes-submissao .arrow {
    display: none;
  }
  /* === Informações - Menu dos modelos === */
  #tmp-informacoes .tmp-column {
    width: 100%;
    height: auto;
    margin: 15px 0;
  }
  #tmp-informacoes .tmp-column .tmp-one-line,
  #tmp-informacoes .tmp-column .tmp-two-line,
  #tmp-informacoes .tmp-column .tmp-three-line {
    margin: 0;
    padding-bottom: 0;
  }
  .tmp-column-info .tmp-two-line.tmp-first {
    border-left: 1px solid #ccc !important;
    padding-left: 30px !important;
  }
  .tmp-column-link-spacing p:last-of-type {
    margin-bottom: 0;
  }
  /* === Botão exportar trabalhos === */
  #tmp-exportar-trabalhos .tmp-dropdown-collapse {
    bottom: -35px !important;
    left: -180px !important;
  }
  /* === Opções de busca (filtro) === */
  #tmp-opcoes-busca form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  #tmp-opcoes-busca .input {
    width: 100% !important;
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
  #tmp-opcoes-busca .submit {
    width: 100px !important;
    margin-top: 0 !important;
  }
  /* === Tabela de submissões === */
  #tmp-tabela-submissoes table thead {
    display: none;
  }
  #tmp-tabela-submissoes table tbody tr {
    padding: 20px 0;
  }
  #tmp-tabela-submissoes table tbody tr td {
    display: block;
    padding: 10px !important;
    border-bottom: 1px solid #ddd;
  }
  #tmp-tabela-submissoes table tbody tr td:before {
    content: attr(data-th);
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    line-height: 26px;
  }
  #tmp-tabela-submissoes table tbody tr td .tmp-title-td {
    font-size: 10px;
    text-transform: uppercase;
    display: block;
    padding: 5px;
    width: 100%;
    margin-bottom: 5px;
    background-color: #eeeeee;
  }
  #tmp-tabela-submissoes .tmp-tr-space {
    height: 50px;
  }
  .tmp-dropdown-collapse {
    bottom: -35px !important;
    left: 10px !important;
  }
  /* === Ações da tabela de submissão === */
  #tmp-acoes-tabela > * {
    width: 100%;
  }
  #tmp-acoes-tabela .tmp-actions-filter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
  }
  #tmp-acoes-tabela .tmp-actions-filter > * {
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 420px) {
  .filter-buttom-right .submit {
    clear: both;
  }
  .box-filter .input {
    margin-bottom: 10px;
  }

  .filter .text,
  .filter .select {
    width: 100%;
  }
  #resumo-credenciamento .box-credenciamento {
    width: 100%;
    margin: 0 0 10px 0;
  }
  #credenciamento-busca {
    margin: 0;
    padding: 0;
  }
  .credenciamento-opcoes .filter {
    margin: 0;
    padding: 10px;
  }

  .credenciamento-opcoes .filter .input {
    margin-bottom: 10px;
  }

  .credenciamento-opcoes .filter .submit {
    margin: 0;
  }
  #opcoes-enviar-submissao .input.radio input {
    width: 20px;
    float: left;
  }

  #opcoes-enviar-submissao .input.radio label {
    width: 90% !important;
  }

  .painel-artigos-left,
  .painel-artigos-right {
    width: 100% !important;
  }
  .painel-artigos-left-item-acoes {
    padding: 10px 0 !important;
  }

  .painel-artigos-left-item-acoes .painel-artigos-left-item-no-icon {
    display: none;
  }
  .painel-artigos-left-item-acoes .painel-artigos-left-item-info {
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  #modal_premium_content {
    flex-direction: column;
    padding-top: 20px;
  }
  #modal_premium_image {
    width: 100%;
    height: 98px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  #modal_premium_image img {
    max-height: 123px;
    width: 115px;
  }
  #modal_premium_text {
    padding: 20px !important;
  }
  #modal_premium_list {
    margin: 33px 0 !important;
  }
  .cd-multi-steps li a {
    font-size: 12px;
  }
  .dados-evento {
    padding: 26px;
  }
  .template-mobile_scroll {
    flex-wrap: nowrap !important;
    overflow: scroll;
  }
  .moveup-lote,
  .movedown-lote {
    display: none;
  }
  .subcategoria__chosen {
    grid-template-columns: 1fr !important;
  }
  .row-choosen-categoria .input {
    max-width: 100% !important;
  }
  #evento-tipo-presencial div {
    grid-template-columns: 1fr !important;
  }
  #evento-tipo-presencial input.x-small {
    max-width: unset !important;
  }
  .content-periodo {
    grid-template-columns: 1fr !important;
    gap: 10px;
  }
  .sidr-class-left_menu-close {
    position: absolute;
    top: 34px;
    right: 23px;
  }
  .__brand {
    width: 60px;
    height: 30px;
  }
  .imasters .__brand {
    width: 196px;
    height: 39px;
  }

  .__card.__evento .__detail {
    padding: 0;
  }
  .__card.__evento .__detail.__cog a {
    line-height: 90px;
  }

  .__card {
    padding: 30px 29px 24px 29px;
  }

  .__card .__acoes.__items-row {
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .__card .__acoes .__verSite {
    width: 112px;
    height: 33px;
    border-radius: 5px;
    align-items: center;
    padding: 0;
    justify-content: center;
  }

  .__card .__details .__sub_header {
    font-size: 12px;
  }

  .__card .__section-2 {
    padding: 0;
    border-bottom: none;
    min-height: unset;
    margin-bottom: 21px;
  }

  .top {
    height: 60px;
  }
  .container {
    width: 100%;
  }
  .top,
  .menu,
  .footer {
    width: 100%;
    padding: 0;
  }

  .__painel-header .__novo_evento-input {
    width: 100%;
    max-width: unset;
  }

  .painel .__dash_header-mobile {
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
  }

  .__card .__title {
    font-size: 16px;
  }

  .painel .__painel-header {
    margin-bottom: 16px;
  }

  .painel .__dash_header .ver-eventos-antigos,
  .painel .__dash_header h1 {
    display: none;
  }

  .top h1 img {
    height: 50px;
    padding: 5px;
  }
  .w-header .center {
    width: 100%;
    text-align: left;
  }
  .w-header li.top-menu-separator {
    padding: 5px 0;
  }
  .w-header li {
    padding: 5px 2px;
  }
  .top .split {
    width: 49%;
  }
  .top .split div {
    margin: 20px 0px 0px 10px;
  }
  .w-header .evento-atual {
    display: none;
  }
  .painel-col-left,
  .painel-col-right {
    width: 100% !important;
    padding: 10px 0;
  }

  .invisible-phone {
    display: none;
  }
  .evento-info {
    width: 70%;
  }

  .holder-left {
    width: 0%;
  }
  .holder {
    width: 100%;
    padding: 30px 20px 0 20px !important;
  }
  .holder .box {
    padding: 20px;
  }
  .cd-multi-steps {
    gap: 8px;
  }
  #admin-nav li {
    padding: 4px 8px 12px 8px;
    height: 39px;
  }
  #admin-nav li:hover {
    background: #ddd;
    padding-left: 3px;
  }
  #admin-nav li span {
    display: none;
  }
  #admin-nav li img {
    width: 28px;
    height: 28px;
  }

  #admin-nav .active ul {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    z-index: 200;
  }

  .h1-lista-eventos {
    font-size: 13px;
  }

  .forms .input input[type="text"],
  .forms .input select,
  .forms .input input,
  .forms .input select,
  .pages .input input[type="text"],
  .pages .input select {
    width: 100%;
  }
  .evento-nome {
    max-height: 40px;
    font-weight: bold;
  }
  .evento-item .evento-nome a {
    font-size: 12px;
  }

  .footer {
    padding: 20px;
    text-align: center;
  }
  .financeiro .infor {
    width: 100%;
  }
  .financeiro .resumo-financeiro ._res {
    width: 100%;
  }
  .financeiro .resumo-financeiro .val {
    font-size: 14px;
  }

  .breadcrumb-add-evento {
    margin: 30px 0 0 0;
    padding: 0;
    display: inline-block;
  }

  ul.breadcrumb-add-evento li {
    width: 4em;
    height: 4em;
    text-align: center;
    line-height: 3.9em;
    border-radius: 5em;
    margin: 0 1.3em;
    display: inline-block;
    position: relative;
    color: #4ea0ed;
    background: #fff;
    border: 0.3em solid #4ea0ed;
    padding: 0;
  }

  .breadcrumb-add-evento li:first-child {
    margin-left: 3px;
  }

  ul.breadcrumb-add-evento li a:link,
  ul.breadcrumb-add-evento li a:visited {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    color: #4ea0ed;
  }

  .breadcrumb-add-evento li::before {
    content: "";
    position: absolute;
    top: 1.3em;
    left: -3.2em;
    width: 3em;
    height: 0.3em;
    background: #4ea0ed;
    z-index: 0;
  }

  .breadcrumb-add-evento li:first-child::before {
    display: none;
    margin-left: 0;
  }

  .breadcrumb-add-evento .active {
    color: #4ea0ed;
    background: #fff;
    border: 0.6em solid #4ea0ed;
  }

  .breadcrumb-add-evento .active ~ li {
    background: #fff;
    color: #ccc;
    border: 0.6em solid #ccc;
  }

  .breadcrumb-add-evento .active ~ li::before {
    background: #ccc;
  }
  .breadcrumb-add-evento-desc {
    list-style: none;
    margin: 0 5% 0 5%;
    display: inline-block;
  }
  .breadcrumb-add-evento-desc li {
    float: left;
    text-align: center;
    margin: 0 0.6em;
    width: 6em;
    text-align: center;
    display: inline-block;
    position: relative;
    border: 0.2em solid #fff;
    text-transform: uppercase;
    color: #4ea0ed;
  }

  .breadcrumb-add-evento-desc li:first-child {
    margin-left: 0;
  }

  .breadcrumb-add-evento-desc a:link,
  .breadcrumb-add-evento-desc a:visited {
    font-size: 10px;
    font-weight: bold;
    color: #4ea0ed;
    text-decoration: none;
  }

  .hidden-phone {
    display: none;
  }

  .form-evento .input label {
    text-align: left !important;
  }
  table .acoes {
    text-align: left;
    padding: 0.8em !important;
  }

  table tr {
    border-top: 1px solid #ddd;
  }

  .table-resp td {
    border-bottom: none !important;
  }

  #osx-container {
    top: 40px;
    left: 0 !important;
    width: 100% !important;
  }
  .file-img-certificado .img-certificado {
    width: 80px;
    height: 80px;
    float: left;
  }
  .file-img-certificado .file {
    width: 60% !important;
    margin-left: 0 !important;
    padding-left: 10px !important;
    margin-top: 0 !important;
    padding-top: 3px !important;
  }

  .painel #flashMessage,
  .painel #authMessage {
    margin: 10px 0 10px 10px;
    width: 95%;
  }
  .content-periodo .input {
    width: 100% !important;
  }

  .lote-input-data-inicio,
  .lote-input-data-termino {
    width: 40% !important;
    float: left;
  }
  .div-CupomDescontoDataFim,
  .div-CupomDescontoDataInicio {
    width: 100% !important;
    display: inline-block;
    clear: both;
  }

  #div-campos-pesonalizados .campo-cadastrado {
    width: 60%;
  }

  .inputs-campos-personalizados input,
  .inputs-campos-personalizados submit,
  .inputs-campos-personalizados select,
  .inputs-campos-personalizados textarea,
  .inputs-campos-personalizados .campo-unico,
  .inputs-campos-personalizados .campo-obrigatorio {
    margin-bottom: 10px !important;
  }

  #opcoes-enviar-submissao .input.radio input {
    width: 20px;
    float: left;
  }

  #opcoes-enviar-submissao .input.radio label {
    width: 95%;
  }

  .evento-resumo-phone {
    display: inline-block;
  }
  .painel-artigos-left-item-acoes .painel-artigos-left-item-no-icon {
    display: none;
  }
  .painel-artigos-left-item-acoes .painel-artigos-left-item-info {
    padding: 0;
  }
}

@media only screen and (min-width: 769px) {
  .sidr-class-left_menu-close {
    display: none;
  }
  .left_menu-close {
    display: none;
  }
  #opcoes-enviar-submissao .input.radio label {
    width: 95%;
  }
  .painel .__dash_header-mobile {
    display: none;
  }
}

@media (max-width: 500px) {
  .__headbar .__centered {
    gap: unset;
  }
}

@media (min-width: 961px) {
  .__headbar .__mobile-criar_novo {
    display: none !important;
  }
  .__headbar .doity-logo {
    display: none;
  }
}

@media only screen and (min-width: 1180px) {
  #opcoes-enviar-submissao .input.radio label {
    width: 96%;
  }
}

@media only screen and (min-width: 1300px) {
  #opcoes-enviar-submissao .input.radio label {
    width: 96%;
  }
}

@media only screen and (min-width: 1460px) {
  #opcoes-enviar-submissao .input.radio label {
    width: calc(100% - 25px);
  }
}
