.box .mensagem {
  padding: 0;
}

.form-evento .mensagem {
  margin: 0 20px;
  margin-top: 20px;
}

#flashMessage,
#bannerMessage,
.mensagem > div,
#cadastro_eventoMessage,
div[id$="Message"],
#excluidoMessage,
div[id$="Message"],
#enviarMessage,
div[id$="Message"],
#emailMessage,
div[id$="Message"],
#exportarMessage,
div[id$="Message"],
#editadoMessage,
div[id$="Message"],
#saldoMessage,
div[id$="Message"] {
  font-weight: bold;
  font-size: 12px;
  max-width: 100%;
  padding: 17px 62px !important;
  border-radius: 5px;
  position: relative;
  margin-bottom: 5px;
  -webkit-animation: fadeIn 1s linear;
  animation: fadeIn 1s linear;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* //////// ICONE A ESQUERDA \\\\\\\\ */
#flashMessage:before,
#bannerMessage:before,
.mensagem > div:before,
#cadastro_eventoMessage:before,
div[id$="Message"]:before,
#enviarMessage:before,
div[id$="Message"]:before,
#emailMessage:before,
div[id$="Message"]:before,
#exportarMessage:before,
div[id$="Message"]:before,
#editadoMessage:before,
div[id$="Message"]:before,
#saldoMessage:before,
div[id$="Message"]:before,
#excluidoMessage:before,
div[id$="Message"]:before {
  content: "";
  font-family: "FontAwesome";
  font-size: 19px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 24px;
  margin: auto;
  width: 24px;
  height: 18px;
}
#flashMessage.success:before,
#bannerMessage.success:before,
.mensagem > div.success:before,
#cadastro_eventoMessage.success:before,
#enviarMessage.success:before,
#emailMessage.success:before,
#exportarMessage.success:before,
#editadoMessage.success:before,
#excluidoMessage.success:before,
#saldoMessage.success:before {
  content: "\f058";
}

#flashMessage.error:before,
#bannerMessage.error:before,
.mensagem > div.error:before,
#cadastro_eventoMessage.error:before,
div[id$="Message"].error:before,
#enviarMessage.error:before,
div[id$="Message"].error:before,
#emailMessage.error:before,
div[id$="Message"].error:before,
#emailMessage.error:before,
div[id$="Message"].error:before,
#exportarMessage.error:before,
div[id$="Message"].error:before,
#editadoMessage.error:before,
div[id$="Message"].error:before,
#excluidoMessage.error:before,
div[id$="Message"].error:before,
#saldoMessage.error:before,
div[id$="Message"].error:before {
  content: "\f071";
}

#flashMessage.orange:before,
#bannerMessage.orange:before,
.mensagem > div.orange:before,
#flashMessage.warning:before,
.mensagem > div.warning:before,
#cadastro_eventoMessage.warning:before,
#excluidoMessage.warning:before,
#enviarMessage.warning:before,
#emailMessage.warning:before,
#exportarMessage.warning:before,
#editadoMessage.warning:before,
#saldoMessage.warning:before,
#cadastro_eventoMessage.orange:before,
#excluidoMessage.orange:before,
#enviarMessage.orange:before,
#emailMessage.orange:before,
#exportarMessage.orange:before,
#editadoMessage.orange:before,
#saldoMessage.orange:before {
  content: "\f071";
  color: #ffa826;
}

#flashMessage.blue:before,
#bannerMessage.blue:before,
.mensagem > div.blue,
#flashMessage.info:before,
.mensagem > div.info,
#cadastro_eventoMessage.info:before,
#excluidoMessage.info:before,
#enviarMessage.info:before,
#emailMessage.info:before,
#exportarMessage.info:before,
#editadoMessage.info:before,
#saldoMessage.info:before,
#cadastro_eventoMessage.blue:before,
#excluidoMessage.blue:before,
#enviarMessage.blue:before,
#emailMessage.blue:before,
#exportarMessage.blue:before,
#editadoMessage.blue:before,
#saldoMessage.blue:before {
  content: "\f05a";
}

/* //////// BARRA APÓS O ICONE \\\\\\\\ */

.extensions-themes #flashMessage {
  margin: 0 0 10px;
}

.box .mensagem img {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
}

#authMessage,
#flashMessage.error,
#bannerMessage.error,
.mensagem > div.error,
#cadastro_eventoMessage.error,
div[id$="Message"].error,
#excluidoMessage.error,
div[id$="Message"].error,
#enviarMessage.error,
div[id$="Message"].error,
#emailMessage.error,
div[id$="Message"].error,
#exportarMessage.error,
div[id$="Message"].error,
#editadoMessage.error,
div[id$="Message"].error,
#saldoMessage.error,
div[id$="Message"].error {
  display: block;
  background-color: #fdeded;
  border: 1px solid #ff2b34;
  color: #ff2b34;
  padding: 15px;
  margin-bottom: 12px;
  border-radius: 5px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
}

#flashMessage.success,
#bannerMessage.success,
.mensagem > div.success,
#cadastro_eventoMessage.success,
#excluidoMessage.success,
#enviarMessage.success,
#emailMessage.success,
#exportarMessage.success,
#editadoMessage.success,
#saldoMessage.success {
  display: block;
  background-color: #eaffde;
  border: 1px solid #6b3;
  color: #6b3;
  border-radius: 5px;
  font-size: 12px;
  font-family: Inter;
  font-weight: normal;
}

#flashMessage.blue,
#bannerMessage.blue,
.mensagem > div.blue,
#flashMessage.info,
.mensagem > div.info,
#cadastro_eventoMessage.blue,
#excluidoMessage.blue,
#enviarMessage.blue,
#emailMessage.blue,
#exportarMessage.blue,
#editadoMessage.blue,
#saldoMessage.blue,
#cadastro_eventoMessage.info,
#excluidoMessage.info,
#enviarMessage.info,
#emailMessage.info,
#exportarMessage.info,
#editadoMessage.info,
#saldoMessage.info {
  display: block;
  background-color: #f1f6fc;
  border: 1px solid #136bc5;
  color: #136bc5;
}

#flashMessage.orange,
#bannerMessage.orange,
.mensagem > div.orange,
#flashMessage.warning,
.mensagem > div.warning,
#cadastro_eventoMessage.orange,
#excluidoMessage.orange,
#enviarMessage.orange,
#emailMessage.orange,
#exportarMessage.orange,
#editadoMessage.orange,
#saldoMessage.orange,
#cadastro_eventoMessage.warning,
#excluidoMessage.warning,
#enviarMessage.warning,
#emailMessage.warning,
#exportarMessage.warning,
#editadoMessage.warning,
#saldoMessage.warning {
  display: block;
  background-color: #fffbd2;
  border: 1px solid #ffe926;
  color: #ca851d;
  border-radius: 5px;
  font-weight: normal;
}

.error-message {
  color: #ff2b34 !important;
  clear: both !important;
  display: block !important;
  margin-top: 5px;
}

.flash-close:after {
  position: absolute;
  width: 22px;
  height: 22px;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  font-family: "FontAwesome";
  font-size: 20px;
  content: "";
  background-image: url("messageClose.svg");
  background-position: center;
  cursor: pointer;
}

.error .flash-close:after {
  filter: invert(174%) sepia(94%) saturate(6078%) hue-rotate(342deg)
    brightness(95%) contrast(146%);
}

.warning .flash-close:after,
.orange .flash-close:after {
  filter: invert(48%) sepia(18%) saturate(5454%) hue-rotate(339deg)
    brightness(131%) contrast(103%);
}
